h1{
    color: red;
    font-size: 24pt;
    text-align: center;
}
body{
    background-color: rosybrown;
}
p, h2{
    color: white;
}
.amarillo{
    color: yellow;
}

.centrado{
    text-align: center;
}

#ultimoparrafo{
    font-size: 9pt;
}

body{
    font-family: Arial;
    font size: 12pt;
    text-align: justify;
    background-color: :red;   
}

p{
    background-color:rgba(70,50,30,0.3);
    font-size: 3em;
}